<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="F:/github/Reqres_API_Demo_Framework/reqres_Api">
        <classes>
            <class name="com.internet.reqres_Api.tests.DeleteTest">
                <methods>
                    <include name="deleteTest"/>
                </methods>
            </class>
            <class name="com.internet.reqres_Api.tests.GetAllUsersPagedDelayed">
                <methods>
                    <include name="getAllUsersPagedDelayed"/>
                </methods>
            </class>
            <class name="com.internet.reqres_Api.tests.GetApiSingleOnlyUnknown">
                <methods>
                    <include name="getApiSingleOnlyUnknown"/>
                </methods>
            </class>
            <class name="com.internet.reqres_Api.tests.GetApiSingleOnlyUnknownNotFound">
                <methods>
                    <include name="getApiSingleOnlyUnknownNotFound"/>
                </methods>
            </class>
            <class name="com.internet.reqres_Api.tests.GetListApiUnknown">
                <methods>
                    <include name="getListApiUnknown"/>
                </methods>
            </class>
            <class name="com.internet.reqres_Api.tests.GetSingleUser">
                <methods>
                    <include name="getSingleUser"/>
                </methods>
            </class>
            <class name="com.internet.reqres_Api.tests.GetSingleUserNotFound">
                <methods>
                    <include name="getSingleUserNotFound"/>
                </methods>
            </class>
            <class name="com.internet.reqres_Api.tests.GetUserList">
                <methods>
                    <include name="getUserList"/>
                </methods>
            </class>
            <class name="com.internet.reqres_Api.tests.PatchUpdateTest">
                <methods>
                    <include name="patchUpdateTest"/>
                </methods>
            </class>
            <class name="com.internet.reqres_Api.tests.PostCreateTest">
                <methods>
                    <include name="postCreateTest"/>
                </methods>
            </class>
            <class name="com.internet.reqres_Api.tests.PostLoginSuccessfulTest">
                <methods>
                    <include name="postLoginSuccessfulTest"/>
                </methods>
            </class>
            <class name="com.internet.reqres_Api.tests.PostLoginUnsuccessfulTest">
                <methods>
                    <include name="postLoginUnsuccessfulTest"/>
                </methods>
            </class>
            <class name="com.internet.reqres_Api.tests.PostRegisterUserTest">
                <methods>
                    <include name="postRegisterUserTest"/>
                </methods>
            </class>
            <class name="com.internet.reqres_Api.tests.PostRegisterUserUnsuccessfulTest">
                <methods>
                    <include name="postRegisterUserUnsuccessfulTest"/>
                </methods>
            </class>
            <class name="com.internet.reqres_Api.tests.PutUpdateTest">
                <methods>
                    <include name="putUpdateTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>